<div class="lista-discos"> 
  @for (disco of listaDiscos; track disco.id) 
  { 
    <div class="contenedor-disco">
      <div class="cont-img">
        <img [src]="disco.urlImg" alt="Portada de {{disco.titulo}}">
      </div>

      <div class="txt-info">
        <h3>{{disco.titulo}}</h3>
        <p>{{disco.artista.nombre}} - {{disco.anoCreacion}}</p>
      </div>

      <div class="cont-ir">

        @if (isAdmin== true) {
           <a class="btn-edit" (click)="irEdit(disco.id!)">Editar</a>
        }

        @if (isAdmin == true) {
          <a class="btn-ir" (click)="irDiscoAdmin(disco.id!)">Ver disco</a>
        }
        @else {
          <a class="btn-ir" (click)="irDiscoUser(disco.id!)">Ver disco</a>
        }
        

        @if (isAdmin == true) {
           <a class="btn-delete" (click)="onClickEliminar(disco.id!)" >Eliminar disco</a>
        }
       
      </div>
    </div>
  } @empty { <p class="no-discos-message">No hay discos disponibles para mostrar.</p>
  }
</div>


