<nav>
  <div class="logo">
    <h2>Certant Music</h2>
  </div>

 
  <div class="hamburguesa" (click)="menuAbierto = !menuAbierto">
    &#9776;
  </div>

  <div class="lista" [class.abierto]="menuAbierto">
    <ul>
      <li><a (click)="irDiscos()">Discos</a></li>
      <li><a (click)="irCanciones()">Canciones</a></li>
      <li><a (click)="irArtistas()">Artistas</a></li>
      <li><a (click)="logout()">Salir</a></li>
    </ul>
  </div>
</nav>

<main>
    <router-outlet></router-outlet>
</main>

<app-footer></app-footer>