<nav>
    <div class="logo">
        <h2>Certant music</h2>
    </div>


    <div class="lista">

        <ul>
            <li>
                <a (click)="irFormDiscos()">Agregar disco</a>
            </li>
            <li>
                <a (click)="irCanciones()">Canciones</a>
            </li>
            <li>
                <a (click)="irArtistas()">Artistas</a>
            </li>
            <li>
                <a href="">Salir</a>
            </li>
        </ul>
    </div>
</nav>

<main>
    <router-outlet></router-outlet>
</main>

<footer>

    <div>
        <h3>Redes</h3>
    </div>
    <div>
        <h3>Otro tipo de informacion</h3>
    </div>
    
</footer>
