<div class="songs-list-container">

 <div class="txt-song">
  <h2 class="section-title">Nuestras Canciones</h2>
  @if (isAdmin==true) {
    <a class="add-song-link" (click)="irCrearCanciones()">Agregar nuevas canciones</a>
  }
  
</div>

  
  @if (listaCanciones && listaCanciones.length > 0) {
    
    <ul class="songs-list">
      @for (item of listaCanciones; track $index) {
        <li class="song-item">
          <div class="song-info">
            <span class="song-title">{{ item.titulo }}</span>
            <br>
              <p> Autor: {{ item.autor.nombre}}</p>
            </div>
            
          <div class="song-actions">
            <a href="">
              <img src="/assets/play.png" alt="">
            </a>
          @if (isAdmin == true) {
            <button (click)="onEliminarClick(item.id!)" class="delete-button">Eliminar</button>
          }
            </div>
        </li>
      }
    </ul>
  } @else {
    <p class="no-songs-message">No hay canciones disponibles en este momento.</p>
  }
</div>